/* Starting off with Josh's Custom CSS Reset https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 50%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* ——————————— YOUR CSS STARTS BELOW HERE ——————————— */
body {
  font-family: futura-pt, sans-serif;
  background-color: #F5EEE8;
}
.color-block {
  padding: 20px;
  margin: 10px 0;
  color: white; /* Text color */
}

#block1 {
  background-color: #F5EEE8; /* Red */
}

.o {
  background-color: #FFB644; /* Green */
}

.temp{
  width: 100vw;
  height: 30vh;
}
#block3 {
  background-color: #F5EEE8; /* Blue */
}
.p {
  background-color: #FFB1BE; /* Blue */
}
#block5 {
  background-color: #F5EEE8; /* Blue */
}
.g {
  background-color: #DFC557; /* Blue */
}
#block7 {
  background-color: #F5EEE8; /* Blue */
}
#block8 {
  background-color: #FFB644; /* Blue */
}
#block9 {
  background-color: #F5EEE8; /* Blue */
}

.image-container img {
  width: 24%; /* Or any other size */
  height: auto;
  border-radius: 25px;
  margin: .5%;
 /* Optional: adds some space between the images */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 24%;
  height: auto;
  border-radius: 25px;
}
ul {
  list-style-type: none; /* Removes bullet points */
}
h1{
  font-size: 3vw;
}
.thin {
  font-weight: 100;
  font-size: 3vw;
}
.cursive {
  font-family: filmotype-yale, sans-serif;
  font-size: 5vw;
  line-height: 0.5;
}
.right{
  float:right;
  width: fit-content;
  height: fit-content;
  padding-top: 12vh;
}
.home{
  width: 50vw;
}
header {
  height: 100vh;
}
.info{  
  height: fit-content;
  width: fit-content;
  margin: auto 0;
  padding-top: 46vh;
  text-align: right;
  padding-left: 15vh;
}
.border{
  border: solid black 10px;
}
.image-stack{
  height: 100vh;
  padding-top: 15vh;
}
.annual {
  text-align: right;
  height: 25vh;
  font-size: 2vw;
  padding-right: 38vh;
  padding-top: 7vh;
  line-height: 5vh;
}
.events {
  padding-top: 6vh;
  font-size: 2vw;
  line-height: 7vh;
  width: fit-content;
}
.vibe {
 font-size: 4vw;
 line-height: 8vh; 
 padding-top: 7vh;
 padding-left: 15vh;
}
.grounds{
  font-size: 2vw;
  padding: 10vh;
}