/* Starting off with Josh's Custom CSS Reset https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 50%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* ——————————— YOUR CSS STARTS BELOW HERE ——————————— */
body {
  font-family: futura-pt, sans-serif;
  background-color: #F5EEE8;
  overflow-x: hidden;
}
.color-block {
  padding: 20px;
  margin: 10px 0;
  color: white; /* Text color */
}

#block1 {
  background-color: #F5EEE8; /* Red */
}

.o {
  background-color: #FFB644; /* Green */
}

.temp{
  width: 100vw;
  height: 30vh;
}

.p {
  background-color: #FFB1BE; /* Blue */
}

.g {
  background-color: #DFC557; /* Blue */
}

.image-container img {
  width: 24%; /* Or any other size */
  height: auto;
  border-radius: 25px;
  margin: .5%;
  z-index: 1;
  transition: transform .2s;
 /* Optional: adds some space between the images */
}

.image-container img:hover {
  transform: scale(1.1);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 24%;
  height: auto;
  border-radius: 25px;
}
ul {
  list-style-type: none; /* Removes bullet points */
}
h1{
  font-size: 3vw;
}
.thin {
  font-weight: 100;
  font-size: 3vw;
}
.cursive {
  font-family: filmotype-yale, sans-serif;
  font-size: 5vw;
  line-height: 0.5;
}
.right{
  float:right;
  width: fit-content;
  height: fit-content;
  padding-top: 10vh;
}
.right img{
  margin-left: 18px;
}
.home{
  width: 50vw;
}
header {
  height: 100vh;
}
.info{  
  height: fit-content;
  width: fit-content;
  margin: auto 0;
  padding-top: 46vh;
  text-align: right;
  padding-left: 16vh;
}
.border{
  border: solid black 10px;
}
.image-stack{
  height: 100vh;
  padding-top: 15vh;
  padding-bottom: 15vh;
}
.annual {
  text-align: right;
  height: 25vh;
  font-size: 2vw;
  padding-right: 38vh;
  padding-top: 7vh;
  line-height: 5vh;
}
.events {
  padding-top: 6vh;
  font-size: 2vw;
  line-height: 7vh;
  width: fit-content;
}
.bottom{
  padding-bottom: 49%;
}
.vibe {
 font-size: 4vw;
 line-height: 9vh; 
 padding-top: 7vh;
 padding-left: 15vh;
}
.grounds{
  font-size: 2vw;
  padding: 10vh;
}
.left{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  font-size: 2vw;
  line-height: 7vh;
}
.s{
  font-size: 8vw;
}
.questions{
  font-size: 1.5vw;
  padding: 10vw;
  text-align: left;
}
.m{
  font-size: 4vw;
  line-height: 11vh;
}
.cite{
  padding: 3vw;
  font-size: 1vw;
  justify-content: center;
  text-align: center;
  line-height: 2vh;
}
.title{
  font-size: 5vw;
}
#pouring{
  width: 100%;
  position: absolute; 
  top: 60vh;
}
.xs{
  font-size: 4vw;
}
.extra{
  font-size: 5vh;
  line-height: 9vh;
}
#saucer{
  width: 100%;
  position:absolute;
  left: 60vw;
  top: 420vh;
}
.xxs{
  font-size: 3vw;
}

/*  Media Queries */
@media only screen and (max-width: 1000px){
  .image-stack{
    height: 80vh;
    padding-top: 8vh;
  }

  .right{
    padding-top: 20vh;
  }

  .temp{
    height: 20vh;
  }

  .vibe {
    padding-top: 2vh;
  }

  #saucer{
    top: 350vh;
  }
}

@media only screen and (max-width: 430px){
  .image-stack{
    height: 60vh;
  }

  .events {
    padding-top: 6vh;
    font-size: 4vw;
    line-height: 7vh;
    width: fit-content;
  }

  .temp{
    height: 10vh;
  }

  .vibe {
    font-size: 4vw;
    line-height: 3vh; 
    padding-top: 2vh;
    padding-left: 5vh;
  }

  .grounds{
    font-size: 4vw;
    padding: 5vh;
  }

  .extra{
    font-size: 4vh;
    line-height: 6vh;
  }

  .questions{
    font-size: 4vw;
    padding: 5vh 0.5vw;
    text-align: left;
  }

  .cite{
    padding: 3vw;
    font-size: 3vw;
    justify-content: center;
    text-align: center;
    line-height: 2vh;
  }

  .left{
    margin: 5%;
    font-size: 3.5vw;
    line-height: 2vh;
  }

  .annual {
    text-align: right;
    height: 10vh;
    font-size: 4vw;
    padding-right: 1vh;
    padding-top: 4vh;
    line-height: 2vh;
  }

  #saucer{
    top: 190vh;
  }

  #pouring{
    top: 65vh;
    z-index: -1;
  }

  .right{
    width: 100%;
  }

  h1{
    font-size: 6vw;
  }

  .title{
    font-size: 10vw;
  }

  .thin {
    font-size: 6vw;
  }

  .info{  
    padding-left: 5vh;
  }

}